
.firstdiv>img{
  margin-top: 5%;
  margin:auto;
  margin-left: 9%;
  position: absolute;
  z-index: 0;
}
.firstdiv{
  width:85%;
  height: 600px;
  margin:auto;
  margin-top: 1%;

}
.firstdiv>p{
  position: absolute;
  left: 20%;
  top:47.5%;
  z-index: 2;
}
.firstdiv>.button{
  position: absolute;
  left: 20%;
  top:27.5%;
  z-index: 2;
  background-color: #b2e0a2;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.button::after{
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 200ms;
  margin: auto;
}
.button:hover{
  background-color: #abd89c;
}
.button:hover::after{
  width: 100%;
  margin: auto;
}
.firstdiv>h1{
  position: absolute;
  left: 20%;
  top:35.5%;
  font-weight: 500;
  font-size: 34px;
  color: #313131;
  z-index: 1;
}
.firstdiv>h3{
  position: absolute;
  left: 20.1%;
  top:40.5%;
  font-weight: 500;
  color: #313131;
  z-index: 1;
}
.app{
  position: absolute;

  font-weight: 500;
  color: #313131;
  z-index: 1;
}
.andr{
  left: 20%;
  top:60.5%;

}
.apple{
  left: 28.5%;
  top:60.5%;
}
.andr>img{
  width: 150px;
  height: 45px;
}
.apple>img{
  width: 150px;
  height: 45px;
}


