
<form class="formoch" *ngIf="!isRegistering">
  <img src="assets/img/login.jpg">
  <div>
    <input type="text" [(ngModel)]="loginn" name="login" class="input email" placeholder="User name" autofocus="1">
  </div>
  <div>
    <input type="password" [(ngModel)]="password" name="pass" class="input pass" placeholder="Password" >
  </div>
  <button (click)="goBack()" class="back back3">Back</button>
  <div class="live"></div>
  <button (click)="register()" class="login login2">Register</button>
  <div class="live"></div>
  <button (click)="login()" class="login">Log in</button>
</form>
<form class="formoch" *ngIf="isRegistering">
  <img src="assets/img/register.jpg">
  <div>
    <input type="text" [(ngModel)]="loginn" name="login" class="input email" placeholder="Enter your user name" autofocus="1">
  </div>
  <div>
    <input type="password" [(ngModel)]="password" name="pass" class="input pass" placeholder="Enter your password">
  </div>
  <button (click)="register()" class="back back3 back4">Back</button>
  <div class="live"></div>
  <button (click)="registerClicked()" class="login login2">Register</button>
</form>
