
<div *ngIf="currentProduct" class="prod">
  <a routerLink="/catalog/{{currentProduct.id}}" class="linki">
  <img src="{{currentProduct.image}}" class="imgs">
  <p id="name">{{currentProduct.name}}<p>
  </a>
  <p id="price">Price:{{(currentProduct.price*430).toFixed(1)}}₸</p>
  <div *ngIf="currentProduct.quantity>0">
    <p class="avail">Available</p>
    <button (click)="addToCart(currentProduct)" class="addCart">Add to Cart</button>
  </div>
  <div *ngIf="currentProduct.quantity === 0">
    <p class="avail notavail">Not Available</p>
    <button disabled (click)="addToCart(currentProduct)" class="addCart">Add to Cart</button>
  </div>

</div>

