img {
  display: inline-block;
  height: 120px;
  margin: 10px;
  float: left;
  margin-right: 30px;
  /*margin-bottom: 15px;*/
}
#delete{
  display: inline-block;
  float:right;
  margin-top: 45px;
  margin-right: 10px;
  /*margin-bottom: -5px;*/
}
#delete{
  background-color: darkseagreen;
  height: 30px;
  width: 120px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff5757;
  border-radius: 4px;
  font-weight: bold;
  border: solid 0px #d27d00;
  transition: 150ms;
  cursor: pointer;
}
#delete:hover{
  background: #db4a4a;
}
